<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="ca.hec.portal.api.PortalManagerService"
			class="ca.hec.portal.impl.PortalManagerServiceImpl"
			init-method="init"
			singleton="true">
	</bean>

	</beans>
